/* Global */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    --bs-link-color-rgb: #a5134d;
    text-decoration: none;
}

.row {
    margin: 0 2rem;
}

/* Header */

header {
    margin: 2rem;
}

#title {
    font-family: cursive;
    color: #f0327e;
}

.nav-link {
    text-transform: uppercase;
    color: #a5134d;
}
