/* Global */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #a5134d;
}

a {
    --bs-link-color-rgb: #a5134d;
    text-decoration: none;
}

/* Header */

header > .row {
    margin: 2.5rem 3rem 0 3rem;
}

#title {
    font-family: cursive;
    color: #f0327e;
}

.nav {
    padding: 0 3rem 0.6rem 0;
}

.nav-link {
    font-size: 1.1rem;
    text-transform: uppercase;
    color: #a5134d;
}

/* Main Section */

#subtitle {
    margin-bottom: 2rem;
    color: #f2d8bd;
}

#content-container {
    margin: 0 6rem;
    padding: 2.5rem 3rem;
    background-color: #bc4b60;
}

.panel {
    padding: 2rem;
    background-color: #fbcaca;
}
